:root {
  background-color: #0b111f;
  color: #e3e8f2;
  font-family: "IBM Plex Sans", "Segoe UI", sans-serif;
  line-height: 1.4;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

a {
  color: #8ec5ff;
}
